{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
                <th>books</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
                <td>

                    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                    <form method="post" action="{{ path('author_delete', {'id': author.id}) }}" style="display:inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
                        <button class="btn btn-danger">delete</button>
                    </form>
                </td>
                <td>{{author.nbBooks}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Create new</a>
{% endblock %}