{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<h1>Book List</h1>

<ul>
   
    {% for book in books %}
    <li>{{book.id}} {{book.title}} by {{book.Author}} 
    <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" style="display:inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                        <button class="btn btn-danger">delete</button>
                    </form>
    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-primary">edit</a>
    {% endfor %}
</ul>

<a href={{path('book_new')}}>new  </a>
<br>
<a href="{{ path('author_index') }}">authors</a>
{% endblock %}
